*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/*categories for the first part of the page in shop*/
.categories{
    margin: auto;
    background: linear-gradient( #1637F2,#F20CCC);
    /*#F20CCC #3DE0F2*/
}
/*Change the text color in categories part*/
.categories .col-2 h4,.categories .col-2 p{
    color:#fff;
}

/*The whole common set for each group of shop-items, we need them to be dynamicly modified by change the size of the page*/
.shop-items{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*col-2 for the set of 2 items in line, used in the categories and spcial offer part*/
.col-2{
    flex-basis: 36%;
    min-width: 250px;
    margin-bottom: 15px;
    padding:10px 0;
}

.col-2 img{
    max-width: 100%;
    max-height: 480px;
    padding:10px 0;
}

.col-2 h1{
    font-size: 42px;
    line-height: 60px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.special-offer h4,.special-offer p{
    text-align: center;
}

.special-offer button{
    margin: 0 auto;
    display: block;
    margin-top: 10px;
}

/*Two style of buttons, though only difference is the padding to make it looks more comfortable*/
.btn-1{
    display: inline-block;
    background: #090c9b;
    color:#fff;
    padding:8px 30px;
    margin:10px 0;
    border-radius: 30px;
}

.btn-2{
    display: inline-block;
    background: #090c9b;
    color:#fff;
    padding:4px 20px;
    margin:5px 0;
    border-radius: 30px;
}

.btn-checkout{
    float: right;
}
/*General set for when cursor moves to the button becomes a pointer*/
.btn{
    cursor: pointer;
}

.btn:hover{
    background: #3DE0F2;
}

/*Make the content won't be spread to the edge of the page*/
.small-container{
    max-width: 1200px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}

/*For the items which are 4 in a line*/
.col-4{
    flex-basis: 25%;
    padding:10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    /*box-shadow:0 0 20px 0px rgba(0,0,0,0.1)*/

}

.col-4 img{
    max-width: 100%;
    padding:10px 0;
}

.col-4 p{
    font-size: 14;
}

/*A little up animaiton when hover*/
.col-4:hover{
    transform: translateY(-5px);
}

/*For the title of each part*/
.sub-title{
    text-align: center;
    margin: 0 auto 20px;
    position:relative;
    line-height: 70px;
}
/*The blue line under the title*/
.sub-title::after{
    content:'';
    background: #2F02B3;
    width:80px;
    height:5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
}

h4{
    color:#555;
    font-weight:bold;
}

/*Setting for Special offer part*/
.offer{
    background: linear-gradient(to bottom left,#fff 50%,#05F2F2 50%);
    margin-top: 60px;
    padding:30px 0;
    /*#05F2F2*/
}


/*-------cart items----------*/
.cart-page{
    margin:80px auto;

}

table{
    width:100%;
    border-collapse: collapse;
}

.cart-item{
    display: flex;
    flex-wrap: wrap;
}

th{
    text-align: left;
    padding:5px;
    color:#fff;
    background: #3e7cb1;
    font-weight: normal;
}

td{
    padding:10px 5px;
    
}

td input{
    width:45px;
    height: 30px;
    padding:5px;
}

td a{
    color:#3e7cb1;
    font-size: 16px;
}

td img{
    width: 160px;
    
    margin-right: 10px;
}

.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price table{
    border-top:3px solid #090c9b;
    width: 100%;
    max-width: 400px;
}

/*Make the total column align to right*/
td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}

.exculsive-offer{
    margin-top: 15px;
}

.exculsive-offer button:hover{
    background-color: #F20CCC;
}

/*This one is the image for special offer part, cause in that part we seprate the image and the text with two div,*/
/*So I add the address of the image to the text part to let the add-to-cart button works normal as the others*/
.just-info{
    display: none;
}