*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.categories{
    margin: auto;
    background: linear-gradient( #1637F2,#F20CCC);
    /*#F20CCC #3DE0F2*/
}

.categories .col-2 h4,.categories .col-2 p{
    color:#fff;
}



.shop-items{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 40%;
    min-width: 250px;
    margin-bottom: 15px;
    padding:10px 0;
}

.col-2 img{
    max-width: 100%;
    max-height: 480px;
    padding:10px 0;
}

.col-2 h1{
    font-size: 42px;
    line-height: 60px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.col-2 small{
    margin-bottom: 15px;
    padding-bottom: 15px;
}


.special-offer h4,.special-offer p{
    text-align: center;
}

.special-offer button{
    margin: 0 auto;
    display: block;
    margin-top: 10px;
}

.btn-1{
    display: inline-block;
    background: #090c9b;
    color:#fff;
    padding:8px 30px;
    margin:10px 0;
    border-radius: 30px;
    
}

.btn-2{
    display: inline-block;
    background: #090c9b;
    color:#fff;
    padding:4px 20px;
    margin:5px 0;
    border-radius: 30px;
}

.btn-checkout{
    float: right;
}

.btn{
    cursor: pointer;
}

.btn:hover{
    background: #3DE0F2;
}

.small-container{
    max-width: 1200px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4{
    flex-basis: 25%;
    padding:10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    /*box-shadow:0 0 20px 0px rgba(0,0,0,0.1)*/

}

.col-4 img{
    max-width: 100%;
    padding:10px 0;
}

.col-4 p{
    font-size: 14;
}

.col-4:hover{
    transform: translateY(-5px);
}

.sub-title{
    text-align: center;
    margin: 0 auto 20px;
    position:relative;
    line-height: 70px;
}



.sub-title::after{
    content:'';
    background: #2F02B3;
    width:80px;
    height:5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
}

h4{
    color:#555;
    font-weight:bold;
}

.offer{
    background: radial-gradient(#fff,#3e7cb1);
    margin-top: 60px;
    padding:30px 0;
}


/*-------cart items----------*/
.cart-page{
    margin:80px auto;

}

table{
    width:100%;
    border-collapse: collapse;
}

.cart-item{
    display: flex;
    flex-wrap: wrap;
    
}

th{
    text-align: left;
    padding:5px;
    color:#fff;
    background: #3e7cb1;
    font-weight: normal;
}

td{
    padding:10px 5px;
    
}
td input{
    width:45px;
    height: 30px;
    padding:5px;
}

td a{
    color:#3e7cb1;
    font-size: 16px;
}

td img{
    width: 160px;
    
    margin-right: 10px;
}

.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price table{
    border-top:3px solid #090c9b;
    width: 100%;
    max-width: 400px;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}

.just-info{
    display: none;
}