
body {
  background: rgb(235, 232, 239);
  margin: 0px;
}




.sub-title{
  text-align: center;
  position:relative;
  line-height: 60px;
  font-size: 120%;

}


.sub-title::after{
    content:'';
    background: #2F02B3;
    width:200px;
    height:5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);

}


.small-container{
    font-size: 200%;
    margin: auto;
    padding-left: 25px;
    padding-right: 50px;

}

.small-container:hover{
  transform:scale(1.15);
  transition-duration: 500ms;
}

.installation{
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5%;
    padding-bottom: 5%;
    background: linear-gradient(to top left,#ffffff 50%,rgb(107, 3, 131) 90%);
}

.reparation{
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: white;
}

.news{
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5%;
    padding-bottom: 5%;
    /*background: linear-gradient(#0725B5,#0175A8,#08B8BF);*/
    background-color: white;
}

.rental{
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5%;
    padding-bottom: 4%;
    background-color: #fff;
    background: linear-gradient(to bottom right,#fff 50%,#0725B5 90%);
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.col-1{
    flex-basis: 40%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-1 p{
    background-color : rgba(203, 208, 214, 0.4);
    padding-left: 10px;
    margin-left: 50px;
    border-radius: 10px;
    font-weight: bold;
    flex-basis: 30%;
}

.col-1 p:hover{
  background-color : rgba(255,255,255, 0.4);
}


.col-1 img{
    max-width: 100%;
    padding: 0;
    margin-top: 10px;
    border-radius: 10px;
}


